body{
  background-color:#61f2a2;
}
div {
font-family: 'Calistoga', cursive;
font-size: 24px;
color: #ffffff;
width: 50%;
float: right;
z-index: 1;
padding-top: 500px;
padding-bottom: 200px;
}
img{
  width: 50%;
  float: left;
  z-index: 1;
  padding-top: 500px;
  padding-bottom: 200px;
}
