body{
  background-image: url("https://github.com/jamesjam/Website/blob/master/Website%20content/Website%20images/Background.jpg");
  font-weight: 600;
  font-size: 24px;
  font-family: Arial;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}
img {
  position: sticky;
  max-width: 50%;
  height: auto;
  z-index: 1;
}
