body{
  background-image: url("https://github.com/jamesjam/Website/blob/master/Website%20content/Website%20images/Background.jpg?raw=true");
  font-family: Arial;
  text-align: center;
}
.Consort
    {
    float: right;
    z-index: auto;
}
.production
  {
  float: left;
  z-index: -1;
  position: fixed;
  }
.navimage {
    width: 100%;
    z-index: 1;
}
@font-face {
src: url(font-family: 'Calistoga', cursive);
}
